/* Common style Set Up for all project */  
body {
  background-color: white;
  color: black;
  }        
a {
  text-decoration: none;
  }     
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    li {
      display: inline;
      }
/* Header Bar */  
/* --------------------- */  
/* Header Social Navigation */
  #menu {
    display: none;
  }
.Social_part {
  padding: 10px 0 0 0 ;
  text-align: left;
  }
  #felxbox {
  background:#CFFFFF;
  }
  .felxbox {
  display: flex;
  align-items: stretch;
  }
  .felxbox > #NavDiv {
  margin: 10px;
  font-size: 30px;
  }
#Pi_Logo{
box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
border: 4px solid purple;
width: 50px;
} 

#PiLogo {
width: 120px;
height: 40px;
}
#PiSpan {
color: black;
font-size:40px;
font-family: monospace;
}
.Social a:hover {
  background-color:#009CC3 ;
  border: 2px solid #009CC3;
  border-radius: 100%;
  margin: 0 0 15% 0;
  padding: 30px 10px 10px 10px;
  box-shadow: 0 0 5px #009CC3,
  0 0 25px #009CC3,
  0 0 50px #009CC3,
  0 0 100px #009CC3;   
  }
  
#PiLogo a:hover{    
  width:150px;
  margin: 0 0 0 0;
  padding: 0 0  0 0;    
  font-size: larger;
  font-weight: bold;
}  
/* Header Navigation Bar */
#hide{
  display: none;
}
.Navigation {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0px 0 0px 0;
  overflow: hidden;
  background-color: #00CCC0;
  
  }
  li a {
  font-size:medium;
  display: block;
  color: white;
  text-align: right;
  width: 20px;
  width: 750px;
  padding: 14px 20px 20px 0;
  text-decoration: none;
  display: inline;
  align-items: left;
  }
  .active{
  font-size: medium;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 50px 0 20px 0;
  color: red;
  font-weight: bold;
  background-color: #009CC3;
  }
nav {
  position: fixed;
  top: 0;
  width: 100%;
  }
  .Navlist {
    display: inline;
 }
 #lastone {
 align-items: right;
 }
 .NavList a:hover {
 box-shadow: 0 0 5px #009CC3,
 0 0 25px #009CC3,
 0 0 50px #009CC3,
 0 0 100px #009CC3;
 font-size: medium;
  list-style-type: none;
 margin: 0 0 15% 0;
 padding: 50px 0 20px 0;
 color: orange;
 font-weight: bold;
 background-color: #009CC3;
 }
 .ORG {
  background-color: #00CCC0;
  align-items: right;
  width:200px;
  height:80px;
  }
/* Header Image*/
.NavPicture{
  padding: 0 0 0 0 ;
  margin: 0 0 0 0; 
  width:35px;
  height:35px;
  }
.HeaderPicture {
  margin-top: 170px; 
  }
#bgImage{
  border: solid 2px black;
  border-width: 100%;
  padding: 10% 0 10% 0 ;
  background-image: url(/photo/Main.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%; 
 } 
legend{
background: #EEE;
font-size: xx-large;
}
fieldset {
text-align: center;
}

  /* Main */
  /* Course Table */
#Course-Text {
text-align: center;
}
#CourseFormant {
width: 75%;
align-items: center;
}
#CourseFormant:hover{
width: 85%;
align-items: center;
}
#Main {
  width: 100%;
  height: 250px;
   }
/* Form */
 
.btn{
background: #00CCC0;
}
/* End */